#bio {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	margin: auto;
	color: #333;
	background-color: #f4f4f4;
	line-height: 1.6;
	padding: 20px;
}

#bio h1 {
	color: #0056b3;
}

.about-me {
	margin: 20px;
}
